# Directorios de Build y Archivos de Xcode generados
/build
*.ipa
*.dSYM.zip
*.xcarchive
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
/Pods
/Package.resolved
DerivedData/

# Archivos de Entorno de Ruby/Bundler (NECESARIO)
.bundle/
/vendor/bundle/
Gemfile.lock # Generalmente se ignora si cada dev usa su propia versión (depende del equipo)

# Archivos de macOS
.DS_Store

# Logs de Fastlane y TestFlight (Si existen)
fastlane/report.xml
fastlane/test_output
*.resolved
swiftlint-report.json
fintechKids.xcodeproj/project.xcworkspace/xcuserdata/fleon.xcuserdatad/UserInterfaceState.xcuserstate
